.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gamearea{
    width: 200px;
    height: 300px;
    border-bottom: dashed 2px black;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.gamefooter{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overmsg{
    color: red;
}

.line{
    position: relative;
    width: 100%;
    height:26px;
}

.letter{
    position: absolute;
    top: 0px;
    left: 0px;
}

